[DEFAULT]
# Defauilt settings (apart from DefaultSite) may be overridden by
# site settings.

# Bumblebee credentials used to run the tests
Username = test-user
Password = password

# The Bumblebee 'user name' for the test user.
BumblebeeUsername = test.user@example.com

# These are the default page titles (as extracted by selenium)

# The Home page
HomeTitle = Virtual Desktop Service - ARDC Nectar Research Cloud

# The Site Admin page
AdminTitle = Welcome to the Researcher Workspace Admin Portal | Researcher Workspace Admin Portal

# The classic Site Admin login page
ClassicLoginTitle = Log in | Researcher Workspace Admin Portal

# The login page when the site uses OIDC via Keycloak
KeycloakLoginTitle = Sign in to Nectar

DesktopType = ubuntu

# This needs to be set if you want to run the command without
# specifying the --site via an argument.
DefaultSite = test

UseOIDC = True
PollSeconds = 5
PollRetries = 50

# Backend database settings for repairing errors.
DbHost = db.example.com
DbUser = bumblebee
DbPassword = ...
DbDatabase = bumblebee
DbPort = 3306

[prod]
BaseUrl = https://vds.example.com

[test]
BaseUrl = https://vds.test.example.com
